.has-background-clear {
  background-color: transparent;
}
.has-background-gradients {
  background: #b24f83; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9e1f62,
    #b24f83
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9e1f62,
    #b24f83
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sub-header {
  height: 31px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

@media screen and (max-width: 992px) {
  .sub-header {
    height: 62px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
  }
}
.sub-header__text {
  color: hsl(0, 0%, 98%);
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0.5rem 0.75rem;
  position: relative;
  font-size: 0.8125rem;
  line-height: 1.785;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  font-stretch: normal;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 992px) {
  .sub-header__text {
    font-size: 01rem;
  }
}

.sub_header__link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s cubic-bezier(0.39, 0.01, 0.03, 0.99);
}

.sub_header__link:hover {
  color: #f0ede8;
  text-decoration: none;
}

.promo-bar {
  padding: 4px 12px;
  font-size: 0.8125rem;
}
