.image-250 {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: auto;
}
.image-300 {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: auto;
}
.image-350 {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: auto;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.card-content {
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  max-width: 96%;
  position: relative;

  margin-left: auto;
  margin-right: auto;
}

.card-image {
  display: block;
  position: relative;
}
