#site-header {
  position: relative;
  z-index: 200;
}

.navbar {
  position: static;
}

.navbar .nav > li {
  position: relative;
  z-index: 100;
}
.main-menu {
  height: 54px;
  background-color: #faf8f6;
}

.dropdown-menu {
  background-color: #faf8f6;
}

.header-link {
  color: #000;
  background-color: #faf8f6;
  transition: color 0.3s cubic-bezier(0.39, 0.01, 0.03, 0.99);
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.39, 0.01, 0.03, 0.99);
  transition-delay: 0s;
  font-weight: 400;
  padding: 19px 12px;
  line-height: 1;
  border-bottom: 0;
  border-bottom-width: 0px;
  border-bottom-style: initial;
  border-bottom-color: initial;
  white-space: nowrap;
}

.header-link:hover {
  background-color: #f0ede8;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .header-link {
    overflow-x: visible;
    overflow-y: auto;
    display: block;
    border-bottom: 1px solid #f0ede8;
  }
  .navbar-nav .nav-link {
    padding-left: 3%;
  }
}
