.text-footer,
a.text-footer {
  color: hsl(0, 0%, 98%);
}

a.text-footer:hover {
  color: #b24f83;
}

.text-center {
  text-align: center !important;
}

.footer {
  padding: 3rem 1.5rem 3rem;
}

.site-logo {
  max-width: 225px;
  border-radius: 0.4em 0.4em 0.4em 0.4em;
}

.list-group-item {
  position: relative;
  padding: 0.25rem 1rem;
  margin-bottom: -1px;
  background-color: transparent;
  border: 0;
}

.footer__link {
  color: #faf8f6;
  transition: color 0.3s cubic-bezier(0.39, 0.01, 0.03, 0.99);
  text-decoration: none;
}

.footer__link:hover {
  color: #f0ede8;
  transition: color 0.3s cubic-bezier(0.39, 0.01, 0.03, 0.99);
  text-decoration: none;
}
